Item Display<br />

<a href="/item/create">Create Item</a>
<a href="/item/edit?id=1">Edit Item 1</a>

<table>
  <tr>
    <td>ID</td>
    <td>name</td>
    <td>wholesale</td>
    <td>retail</td>
    <td>profit margin</td>
  </tr>
  [% FOR project in projects %]
    <tr>
      <td>[% project.id %]</td>
      <td>[% project.name %]</td>
      <td>[% project.wholesale_price %]</td>
      <td>[% project.retail_price %]</td>
      <td>[% project.profit_margin %]</td>
    </tr>
  [% END %]
</table>
